h1 {
    color:#127eea
}

a:visited {
      color:#00ffeb;
}

a:link {
      color:white;
}

td:hover {
      transform: scale(1.06);
}

table thead th {
    color:white;
    
}

table tbody th {
    color:white;
    
}

table caption {
    color:white;
    
}


table tbody tr td.rec {
    color:white;
    
}

hr.lineahorizontal1 {
    background-color: skyblue;
    width: 50%
}
div.pie center iframe {
    width: 100%;
    height: 50%;
    padding-bottom: 20px
}

div.pie{
    text-align: center;
    color:white;
}

